<!doctype html>
<html>
  <head>
    {{ content_for_header }}
  </head>

  <body class="demo" -{{ template.name }}>
    {%- if settings.cart_type == 'drawer' -%}
      {%- render 'cart-drawer' -%}
    {%- endif -%}

    {% sections 'header-group' %}

    <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% sections 'footer-group' %}

    {{ content_for_layout }}
  </body>
</html>
